doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet' href=`/err${min}.css`)
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300')
  body
    h1= msg
    p= submsg
